body{
    display: flex;
    flex-direction: column;
}


input{
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  font-weight: 400;
  font-size: 15px;

}

img{
    height:40%;
    flex:1;
}

#top{
    display: flex:1;
    flex-direction: column;
    background-color: aqua;
}
#right{
     display: flex;
     flex:1;
    flex-direction: column;
    background-color: red;
}
#master{
    
    display: flex;
     flex: 1;
    background-color:red;
    
}

#left{
     display: flex;
    flex:1;
    flex-direction: column;
    background-color: ;
    align-items: center;
    justify-content: center;
}

p{
     text-align: center;
     font-size: 30px;
     background-color: aqua;
}
